@include declare-font-face("excelsior", "excelsior");
@include declare-font-face("excelsior", "excelsior_italic", 400, italic);
@include declare-font-face("rockwell", "excelsior_bold", bold);
@include declare-font-face("rockwell", "rockwell");
@include declare-font-face("rockwell_light", "rockwell_light", 200);


body {
	font-family: rockwell;
	//font-style: italic;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;

}

.background-img{
	position: static;
	background-image: image-url('searles_valley_small.jpg');
	width: 100%;
	max-height: 960px;
	top: 0;
	left: 0;
	z-index: -1;
}

main {
	background-color: white;
  	padding-bottom: 80px;
  	width: 100%;
  	//margin-top: 40%;

   .intro{
     margin-left: auto;
     margin-right: auto;
     max-width: 88%;
   }

  .intro-header {
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    font-style: bold;
  }

  .blurb{
    font-family: rockwell_light;
  }
}

.nav {
	position: absolute;
	top: 0;
}

ul.nav li {
    float: left;
  	display: inline;
}
ul.nav li a {
  padding: 10px 15px 10px;
  text-decoration: none;
}
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
